body {
	background-color: blue;
}

div.black-box {
	background:rgba(0,0,0,0.5);
	padding: 0px 20px 20px 20px;
}

div.black-box h2 {
	color: white;
	font-size: 12px;
	padding: 4px;
	text-transform: uppercase;
	background-color: black;
}