body {
	background-color: blue;
}

div.black-box {
	background:rgba(0,0,0,0.5);
}

div.black-box h2 {
	color: white;
	font-size: 12px;
	padding: 4px;
	text-transform: uppercase;
	background-color: black;
	margin: 0px;
}

div.black-box p {
	color: white;
	padding: 20px;
	margin-bottom: 30px;
}