body {
	 background: url(../background.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

center#theLogo {
	padding: 30px;
}

div.black-box {
	margin: 0px 0px 30px 0px;
	background:rgba(0,0,0,0.5);
	color: white;
}

div.black-box h2 {
	color: white;
	font-size: 12px;
	padding: 4px;
	text-transform: uppercase;
	background-color: black;
	margin: 0px;
}

div.black-box-body {
	padding: 20px;
}

div.black-box-body p {
	margin: 0px;
}

div.col-md-12 div.black-box h2, {
	float: left;
	clear: left;
}

div.schedule-item {
	width: 100%;
	height: auto;
	background-color: black;
}

div.schedule-item.active {
	border: 5px solid #ffff00;
}